*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-width:310px;
    min-height:310px;
}
.task-info{
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
    background:rgba(0, 0, 0, 0.167);
}
.popup{
    margin:2rem 0px 0px 3rem;
    transition: all 10s linear;
}
.heading{
    font-size:1.2rem
}
.buttons{
    position: relative;
    right:0.5rem;
    font-size: 1.2rem;
}
.navBG{
    position: relative;
    background:rgb(240, 205, 163);
}
.nav{
    position: relative;
    left:4.5rem
}
.add{
    cursor: pointer;
    transition: all 0.3s linear;
}
.add:hover{
    color:gray;
}

.remove{
    transition: all 0.3s linear;
}
.task-name-css{
    position: relative;
    bottom:0.5em;
    max-width:15em;
}

.tasks-css{
    position: relative;
    list-style: none;
    width:125%;
    right:3em;
    padding-left: 3em;
    padding-top:1em;
    transition: all 0.3s linear;
}
.tasks-css:hover{
    cursor: pointer!important;
    background:rgb(216, 214, 214)!important;
    
}
.tasks-css:active {
    transition: all 0.01s linear;
    background: rgb(190, 190, 190)!important;
}